@font-face {
  font-family: "Raleway-Bold";
  src: url("../assets/font/Raleway/Raleway-Bold.ttf");
}

@font-face {
  font-family: "Raleway-Medium";
  src: url("../assets/font/Raleway/Raleway-Medium.ttf");
}

@font-face {
  font-family: "Roboto-Regular";
  src: url("../assets/font/Roboto/Roboto-Regular.ttf");
}